@{
    ViewData["Title"] = "Manager";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" action="Home/CreateDatabase">
    <input type="submit" value="Create database" />
</form>